global
    log stdout format raw local0 info
    maxconn 4096

userlist auth_users
    user admin insecure-password password123

defaults
    log     global
    mode    http
    option  httplog
    option  forwardfor # Forward de l'IP vers le backend 
    option  dontlognull
    retries 3
    timeout connect 5s
    timeout client  50s
    timeout server  50s

listen stats_and_metrics
    # Écoute sur le port 8404 (port standard pour l'administration HAProxy)
    bind :8404
    stats enable
    stats uri /
    stats refresh 5s

    # Optionnel mais recommandé : restreindre l'accès à vos serveurs de monitoring (ex: l'IP de Prometheus)
    acl allowed_monitors src nginx-admin 172.20.0.5
    http-request deny if !allowed_monitors

    # Exposition des métriques pour Prometheus
    # Cette règle intercepte les requêtes sur l'URI '/metrics' et renvoie le format Prometheus
    http-request use-service prometheus-exporter if { path /metrics }


backend default
    mode http
    balance roundrobin
    # Réécriture du chemin pour afficher la page de maintenance
    http-request set-path /default.html
    # Déclaration des nœuds applicatifs
    server web1 web1:80 check
    server web2 web2:80 check


frontend http_in
    bind :80
    
    # ACL pour la zone sécurisée
    acl is_secure path_beg /secure
    # ACL pour vérifier si l'utilisateur est authentifié avec la liste auth_users
    acl authenticated http_auth(auth_users)
    # Demander l'authentification uniquement si on est sur /secure et PAS authentifié
    http-request auth realm "Acces Protege" if is_secure !authenticated
    # Redirection vers le bon backend et réécriture du path vers le fichier physique
    http-request set-path /secure.html if is_secure
    use_backend secure_servers if is_secure

    default_backend web_servers

backend web_servers
    mode http
    balance roundrobin
    http-request set-header X-Real-IP %[src]
    
    # Déclaration des 3 nœuds applicatifs du cluster
    server web1 web1:80 check
    server web2 web2:80 check
    server web3 web3:80 check

backend secure_servers
    mode http
    balance leastconn
    
    # Healthcheck : vérifie la présence du texte "Service " dans secure.html
    option httpchk GET /secure.html
    http-check expect string Service\ 

    server web1 web1:80 check
    server web2 web2:80 check
    server web3 web3:80 check
